@font-face{
	font-family: angsana-new-bold;
	src:url("fonts/angsana-new-bold.ttf");
	src:local('?'),url("fonts/franklin-gothic-book-italic.ttf");
}

@media screen and (min-width:180px){
	body{
	padding:0;
	margin:0;
	background: -moz-linear-gradient(-45deg, #000000 0%, #333333 50%, #000000 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#000000), color-stop(50%,#333333),color-stop(100%,#000000)); 
	background-attachment:fixed; 
	background-size:100% 100%;
	repeat:no-repeat;
}

#header{
	width:100%;
	height:15.4%;
	padding:0;	
	position:fixed;
	z-index: 4;
	margin-top:0.7%;
	background: #006680;
}

#barra_navegacion{
	width:100%;
	height:90%;
	border-right:2px solid #ac9666;
	border-left:2px solid #ac9666;
	z-index: 7;
	position: fixed;
	margin-top: 10%;
	background-color: #fff;
	padding-top: 0.1%;
}
#siguenos{
	width:100%;
	height:10%;
	z-index: 8;
	position: fixed;
	margin-top: 60%;
	background-color: #fff;
	padding-top: 0.1%;
	text-align: center;
}
#FaceBook{
	width:16%;
	height:10%;
	z-index: 7;
	position: fixed;
	padding-top: 0.1%;
	margin-left: 12%;
	cursor: pointer;
	background-image: url(../imagenes/Facebook.png);
	background-repeat: no-repeat;
	background-size: 78% 94%;
	background-position: 50% 45%;
}
#Twiter{
	width:16%;
	height:10%;
	z-index: 7;
	position: fixed;
	padding-top: 0.1%;
	margin-left: 38%;
	cursor: pointer;
	background-image: url(../imagenes/Twiter.png);
	background-repeat: no-repeat;
	background-size: 78% 100%;
	background-position: 50% 45%;
}
#Youtube{
	width:16%;
	height:10%;
	z-index: 7;
	position: fixed;
	padding-top: 0.1%;
	margin-left: 63%;
	cursor: pointer;
	background-image: url(../imagenes/Youtube.png);
	background-repeat: no-repeat;
	background-size: 78% 103%;
	background-position: 50% 45%;
}
#nombre_aplicacion{
	width:80%;
	margin-left: 10%;
	margin-top: 1%;
	font-size: 1.2em;
	text-align:center;
	font-family: angsana-new-bold;
	font-weight: bold;
	color:white;
	letter-spacing: 4px;

}
}
/* Termina Pantalla tamaño inferior*/

@media screen and (min-width:767px){
img {
display: block;
margin: auto;
}

#logo_app{
	width: 65%;
	height: 100%;
	margin-top: -4%;
}


.centrar {
text-align: center;
}
	

#logo_entidad{
	width: 6.3%;
	height: 17%;
	margin-left:  14.8%;
	margin-top: -0.8%;
	position: fixed;
	z-index: 6;
	padding: 2px;
	background-image: url(../imagenes/Logo_unad.png);
	background-repeat: no-repeat;
	background-size: 90% 80%;
	background-position: 30% 30%;
}
#lad_iz_Lef{	
		height: 18.3%;
		width:2.5%;
		transform-style: preserve-3d;
    	transform: perspective(700px) rotateX(-16deg) rotateY(-66deg);
		margin-left:  14%;
		margin-top: -.6%;
		box-shadow: 5px 5px 5px #F2B80D;
		-webkit-box-shadow: 5px 5px 5px #F2B80D;
		-moz-box-shadow: 5px 5px 5px #F2B80D;
		-moz-transform-style: preserve-3d;
		-moz-transform: perspective(700px) rotateX(-16deg) rotateY(-66deg);
		-webkit-transform-style: preserve-3d;
		-webkit-transform: perspective(800px) rotateX(-16deg) rotateY(-66deg);
		}
#lad_iz_Rig{		
		height: 18.3%;
		width:2.3%;
		transform-style: preserve-3d;
    	transform: perspective(700px) rotateX(-16deg) rotateY(-66deg);
		margin-left:  19.9%;
		margin-top: -.5%;
		box-shadow: 5px 5px 5px #F2B80D;
		-webkit-box-shadow: 5px 5px 5px #F2B80D;
		-moz-box-shadow: 5px 5px 5px #F2B80D;
		-moz-transform-style: preserve-3d;
		-moz-transform: perspective(700px) rotateX(-16deg) rotateY(-66deg);
		-webkit-transform-style: preserve-3d;
		-webkit-transform: perspective(800px) rotateX(-16deg) rotateY(66deg);
}

#logo_aplicacion{
	width: 6.6%;
	height: 17%;
	margin-left: 78.8%;
	margin-top: -.7%;
	position: fixed;
	z-index: 6;
	background-image: url(../imagenes/CSS.png);
	background-repeat: no-repeat;
	background-size: 90% 80%;
	background-position: 50% 45%;

}
#lad_de_Lef{		
		height: 18.3%;
		width:2.5%;
		transform-style: preserve-3d;
    	transform: perspective(700px) rotateX(-16deg) rotateY(-66deg);
		margin-left:  78%;
		margin-top: -.7%;
		box-shadow: 5px 5px 5px #F2B80D;
		-webkit-box-shadow: 5px 5px 5px #F2B80D;
		-moz-box-shadow: 5px 5px 5px #F2B80D;
		-moz-transform-style: preserve-3d;
		-moz-transform: perspective(700px) rotateX(-16deg) rotateY(-66deg);
		-webkit-transform-style: preserve-3d;
		-webkit-transform: perspective(800px) rotateX(-16deg) rotateY(-66deg);
}
#lad_de_Rig{
		height: 18.3%;
		width:2.5%;
		transform-style: preserve-3d;
    	transform: perspective(700px) rotateX(16deg) rotateY(66deg);
		margin-left:  83.7%;
		margin-top: -.7%;
		box-shadow: 5px 5px 5px #F2B80D;
		-webkit-box-shadow: 5px 5px 5px #F2B80D;
		-moz-box-shadow: 5px 5px 5px #F2B80D;
		-moz-transform-style: preserve-3d;
		-moz-transform: perspective(700px) rotateX(16deg) rotateY(66deg);
		-webkit-transform-style: preserve-3d;
		-webkit-transform: perspective(700px) rotateX(16deg) rotateY(-66deg);
}
#lad_de_Rig,#lad_de_Lef,#lad_iz_Rig,#lad_iz_Lef,#logo_entidad,#logo_aplicacion{
		position:fixed;
		background-color: #B3B3B3;	
		border: #F2B80D 2px solid;
	}
#lad_de_Rig,#lad_de_Lef,#lad_iz_Rig,#lad_iz_Lef{
			z-index:5;
	}
	
#nombre_aplicacion{
	width:55%;
	margin-left: 22%;
	margin-top: 1%;
	font-size: 2.5em;
	text-align:center;
	font-family: angsana-new-bold;
	font-weight: bold;
	color:white;
	letter-spacing: 4px;

}

#formulario{
	width: 76.2%;	
	height:2000px;
	margin-left: 23.68%;
	position: absolute;
	background-color: #fff;
	z-index: 10;
}

#textcont{
	margin-left:3%;
	margin-right: :15%;
	margin-top:4%;
	width: 90%;
    font-size: 1.2em;
	text-align:justify;
	font-family: angsana-new-bold;
	z-index: 11;
}

#imagen-inicial{
	margin-left:40%;
	margin-right: :15%;
	margin-top:-18%;
	width: 53%;
	height: 65%;
	z-index: 12;
	display: inline-flex;
	background-image: url(../imagenes/Display-Example.png);
	background-repeat: no-repeat;
	background-size: 95% 97%;
	background-position: 50% 45%;
}

#imagen-display{
	margin-left:15%;
	margin-right: :10%;
	margin-top:0.2%;
	width: 80%;
	height: 30%;
	z-index: 12;
	display: inline-flex;
	background-image: url(../imagenes/Display-Example.png);
	background-repeat: no-repeat;
	background-size: 95% 97%;
	background-position: 50% 45%;
}

#titulo{
	width:50%;
	margin-left: 22%;
	margin-top: 2%;
	font-size: 2.8em;
	text-align:center;
	font-family: angsana-new-bold;
	color:white;
	letter-spacing: 4px;
	color:#000;
}

#area_trabajo{
	width:100%;
	height:88.7%;
	z-index: 1;
	background-color: #fff;	
	margin-top: 7.9%;
	position: fixed;
	overflow-y: scroll;
}

#area_trabajo::-webkit-scrollbar {
    width: 12px;
    height: 10px;	
}
#area_trabajo::-webkit-scrollbar-thumb{background-color:rgba(0, 0, 0, 0.4);border-radius:5px; height:50px;}
#area_trabajo::-webkit-scrollbar-thumb:hover{
    height: 50px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.8);	
}

#area_trabajo::-moz-scrollbar {
    width: 10px;
    height: 10px;	
}

#area_trabajo::-moz-scrollbar-thumb{background-color:#000;border-radius:5px; height:50px;}

#area_trabajo::-moz-scrollbar-thumb:hover{
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.5);	
}

#area_trabajo:hover{
	overflow-y:scroll;
}


#barra_navegacion{
	width:22.3%;
	height:100%;
	border-right:2px solid #ac9666;
	z-index: 9;
	position: fixed;
	margin-top: .3%;
	background-color: #fff;
	margin-top: 0.1%;
}
#siguenos{
	width:22.2%;
	height:13%;
	z-index: 9;
	position: fixed;
	margin-top: 26%;
	background-color: #fff;
	padding-top: 0.1%;
	text-align: center;
	display: block;
}
#foot{
	margin-top: 26%;
	font-family: angsana-new-bold;
	}
#mapa{
	font-family: angsana-new-bold;
	font-size: 1.3em;
	color: black;
	margin-left: 6%;
	}
#buscar{
	margin-top: 3%;
	width:22.2%;
	justify-content:center;
	margin-left: 27%;
	font-family: angsana-new-bold;	
}
#FaceBook{
	width:6%;
	height:10%;
	z-index: 7;
	position: fixed;
	padding-top: 0.1%;
	margin-left: 1%;
	cursor: pointer;
	background-image: url(../imagenes/Facebook.png);
	background-repeat: no-repeat;
	background-size: 78% 94%;
	background-position: 50% 45%;
}
#Twiter{
	width:6%;
	height:10%;
	z-index: 7;
	position: fixed;
	padding-top: 0.1%;
	margin-left: 8%;
	cursor: pointer;
	background-image: url(../imagenes/Twiter.png);
	background-repeat: no-repeat;
	background-size: 78% 100%;
	background-position: 50% 45%;
}
#Youtube{
	width:6%;
	height:10%;
	z-index: 7;
	position: fixed;
	padding-top: 0.1%;
	margin-left: 15%;
	cursor: pointer;
	background-image: url(../imagenes/Youtube.png);
	background-repeat: no-repeat;
	background-size: 78% 103%;
	background-position: 50% 45%;
}
#opciones{
	width: 4.1%;
	height:100%;
	border-right:2px solid #ac9666;
	border-left:2px solid #ac9666;
	position: fixed;
	background-color: #fff;
	margin-left: -5.2%;
	z-index: 11;
	margin-top: -3.7%;
	padding-top: 2%;
}


#nota_informativa{	
	height: 5%;
	position: absolute;
	z-index: 10;
	font-family:angsana-new-bold;
	font-size: 20px;
	font-style: oblique;
	font-weight: bold;
	color: #fff;
	padding: .1% 1% 0% 1%;
	display: none;	
	background-color: black;
	border-radius: 5px;
	text-align: center;
	text-shadow: 1px 1px 2px #fff;
	opacity: .8;
	box-shadow: 03px 0px 9px #000;
}

}
/* Termina Pantalla tamaño grande*/



#mensaje{
	position: fixed;
	width: 40%;
	height: 30%;
	background-color: white;
	z-index: 14;
	margin-left: 30%;
	margin-top: 10%;
	border-radius: 8px;
	border: solid gray 2px;
	-webkit-box-shadow: 5px 5px 5px #F2B80D;
	-moz-box-shadow: 5px 5px 5px #F2B80D;
	display: none;
}
#header_mensaje{
	position: fixed;
	width: 40%;
	height: 5%;
	background-color: black;
	z-index: 15;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	text-align: center;
	font-size: 2em;
	font-family:angsana-new-bold;
	color: #fff;
	font-style: oblique;
	font-weight: bold;
	border: solid gray 1px;
	text-shadow: 1px 1px 2px #fff;
	opacity:.95;
}
#mensaje > #imagen{
	position: fixed;
	width: 10%;
	height: 22%;
	z-index: 15;
	margin-top: 3%;
	margin-left: .7%;
	border: solid gray 1px;
}

#mensaje > #texto{
	position: fixed;
	width: 27.7%;
	height: 22%;
	z-index: 15;
	margin-top: 3%;
	margin-left: 11.3%;
	border: solid gray 1px;
	font-size: 1.2em;
	font-family:angsana-new ;
	color: #000;
	font-style: oblique;
	font-weight: bold;
	text-shadow: 1px 1px 1px gray;
}
#cerrar{
	width: 1.3%;
	height: 2.7%;
	z-index: 16;
	background-color: white;
	margin-left: 38.3%;
	position: fixed;
	color: #000;
	margin-top: .28%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 1px 1px .5px gray;
	border:1px solid gray;
}
#cerrar:before{
	content: 'x';
	font-family:angsana-new;
	font-weight: bold;
}
#cerrar:hover{
	cursor: pointer;
}

#mensaje{
	position: fixed;
	width: 40%;
	height: 30%;
	background-color: white;
	z-index: 14;
	margin-left: 30%;
	margin-top: 10%;
	border-radius: 8px;
	border: solid gray 2px;
	-webkit-box-shadow: 5px 5px 5px #F2B80D;
	-moz-box-shadow: 5px 5px 5px #F2B80D;
	display: none;
}
#header_mensaje{
	position: fixed;
	width: 40%;
	height: 5%;
	background-color: black;
	z-index: 15;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	text-align: center;
	font-size: 2em;
	font-family:angsana-new;
	color: #fff;
	font-style: oblique;
	font-weight: bold;
	border: solid gray 1px;
	text-shadow: 1px 1px 2px #fff;
	opacity:.95;
}
#mensaje > #imagen{
	position: fixed;
	width: 10%;
	height: 22%;
	z-index: 15;
	margin-top: 3%;
	margin-left: .7%;
	border: solid gray 1px;
}

#mensaje > #texto{
	position: fixed;
	width: 27.7%;
	height: 22%;
	z-index: 15;
	margin-top: 3%;
	margin-left: 11.3%;
	border: solid gray 1px;
	font-size: 1.2em;
	font-family:angsana-new;
	color: #000;
	font-style: oblique;
	font-weight: bold;
	text-shadow: 1px 1px 1px gray;
}
#cerrar{
	width: 1.3%;
	height: 2.7%;
	z-index: 16;
	background-color: white;
	margin-left: 38.3%;
	position: fixed;
	color: #000;
	margin-top: .28%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 1px 1px .5px gray;
	border:1px solid gray;
}
#cerrar:before{
	content: 'x';
	font-family:arial;
	font-weight: bold;
}
#cerrar:hover{
	cursor: pointer;
}