@media screen and (min-width:180px){
a {
	text-decoration: none;
}
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu {
	width: auto;
	height: auto;
}
.menu > li > a,  #salir > a {
	width: 100%;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #000;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	padding-left: 1%;
	background-color: #ddd;
	border: inset 1px #ddd;
	padding-left: 13%;
	font-size: .8em;
}

.menu > li > div > a {
	width: 93%;
	height: 3em;
	line-height: 3em;
	text-indent: 3em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #000;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	padding-left: 7%;
	border-top: inset 1px #ddd;
	border-bottom: inset 1px #ddd;
	font-size: .9em;
}

.menu ul li a, .menu ul li div a {
	width: 100%;
	height: 4.75em;
	line-height: 3.75em;
	text-indent: 3.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3em;
	font-weight: 400;
	color: #878d95;
	margin-left: 15%;
}

.menu ul li:last-child a {
	border-bottom: 1px solid #33373d;
}
.menu > li > a:hover, .menu > li > a.active, #salir > a:hover, #salir > a.active {
	-webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	-moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}

.menu > li > div > a:hover, .menu > li > p > a.active, #salir > a:hover, #salir > a.active {
	-webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	-moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}

.menu > li > a.active,#salir > a.active {
	border-bottom: 1px solid #1a638f;
}

.menu > li > div > a.active,#salir > p > a.active {
	border-bottom: 1px solid #1a638f;
}
.menu > li > a.active:before {
	content: '';
	height: 1em;
  	width: 2em;
	position: absolute;
  	left: 0;
	top: 18%;
	margin: 0 2em 0 1em;
	background-image: url(../imagenes/carpeta_a2.png);	
	background-repeat: no-repeat;
	width:6%;
	height: 54%;
	background-size: 100% 100%;
	margin-left: 9%;
}
.menu > li > div > a.active:before {
	content: '';
	height: 1em;
  	width: 2em;
	position: absolute;
  	left: 0;
	top: 18%;
	margin: 0 2em 0 1em;
	background-image: url(../imagenes/carpeta_a2.png);	
	background-repeat: no-repeat;
	width:6%;
	height: 54%;
	background-size: 100% 100%;
	margin-left: 9%;
}

.menu > li > a:before, #salir > a:before {
	content: '';
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 18%;
	margin: 0 2em 0 1em;
	background: url(../imagenes/carpeta_c2.png);	
	background-repeat: no-repeat;
	width:7%;
	height: 53%;
	background-size: 100% 100%;
	margin-left: 9%;
}

.menu > li > div > a:before, #salir > a:before {
	content: '';
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 18%;
	margin: 0 2em 0 1em;
	background: url(../imagenes/carpeta_c2.png);	
	background-repeat: no-repeat;
	width:7%;
	height: 53%;
	background-size: 100% 100%;
	margin-left: 9%;
}

.item1 > a:before {
	background-position: 0 0;
}
.item2 > a:before {
	background-position: -38px 0;
}
.item3 > a:before {
	background-position: 0 -38px;
}
.item4 > a:before {
	background-position: -38px -38px;
}
.item5 > a:before {
	background-position: -76px 0;
}
.menu > li > ul li a:before{
	content: '▶';
	font-size: 12px;
	color: #bcbcbf;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;	
	margin:0.3em 5em 9em -4em;
	z-index: 6;
	padding-left: 2%;
}
.menu > li > ul li a{
	text-indent: 2em;
	padding-left: 14%;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a:before {
	color: #32373D;
}


.menu ul > li > a{
	font-size: 0.857em; 
	display: inline-block;
	right: 1em;
	background: #ddd;
	line-height: 1em;
	height: 1em;
	padding: .4em 2em;
	margin: -.9em 0 0 0; 
	color: #878d95;
	text-indent: 0;	
	padding-left: 3.75em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}



#form_ingresar{
width: 80%;
height: 27.5%;
margin-left: -2.5%;
margin-top: .5%;
border: solid 2px #d9d9d9;
border-radius: 5px;
background: -moz-linear-gradient(-45deg, #d9d9d9 0%, #fff 50%, #d9d9d9 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d9d9d9), color-stop(50%,#fff),color-stop(100%,#d9d9d9)); 	
position: fixed;
padding-top: 1%;
overflow: scroll;
}
#form_ingresar::-webkit-scrollbar {
    width: 8px;
    height: 10px;	
    background-color:rgba(0, 0, 0, 0);
}


#form_ingresar::-webkit-scrollbar-thumb{background-color:rgba(0, 0, 0, 0.4);border-radius:5px; height:50px;}

.menu > li > ul #conten_ingresar a:before{
	content: '';
}
#ingresar #conten_ingresar{
height: 50%;
border-bottom:solid 1px black;
}
li #conten_ingresar a{
border-bottom:none;
background-color: #fff;
}
}



@media screen and (min-width:500px){
	.menu > li > a, #salir > a{
	font-size: .5em;
	padding-left: 20%;
	}
}

@media screen and (min-width:600px){
	.menu > li > a, #salir > a{
	font-size: .6em;
	padding-left: 15%;
	width: 92%
	}
}

@media screen and (min-width:710px){
	.menu > li > a , #salir > a {
	font-size: .6em;
	padding-left: 15%;
	}
	.menu ul li a{
		width: 87%;
		height: 5%;
	}
}


@media screen and (min-width:767px){
.menu > li > a,#salir > a {	
   background-color: #fff;
	border: inset 1px #fff;
	font-size: .7em;
	padding-left: 7%;
}


.menu ul li a {
	background: #fff;
	margin-left: 5%;
}

.menu ul > li > a{
	background: #fff;
	padding: .4em 0;
}

}

@media screen and (min-width:880px){
.menu ul li a {
	height: 3%;
}
}
@media screen and (min-width:950px){
.menu > li > a , #salir > a{
	width: 92%;
	background-color: #fff;
	border: inset 1px #fff;
	font-size: .8em;
}

.menu ul li a {
	width: 84.5%;
}

@media screen and (min-width:1010px){
	.menu > li > a,  #salir > a {
	font-size: .9em;
	}
}


#form_ingresar{
width: 20%;
height: 25.5%;
border: solid 2px #d9d9d9;
border-radius: 5px;
margin-left: -2.5%;
background: -moz-linear-gradient(-45deg, #d9d9d9 0%, #fff 50%, #d9d9d9 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d9d9d9), color-stop(50%,#fff),color-stop(100%,#d9d9d9)); 	
position: fixed;
margin-top: .5%;
}



.menu > li > ul #conten_ingresar a:before{
	content: '';
}
#ingresar #conten_ingresar{
height: 30%;
border-bottom:solid 1px black;
}
li #conten_ingresar a{
border-bottom:none;
}








